<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add_video</title>
</head>
<body>
<form method="POST" action="/add_video">
  Name:<br>
  <input type="text" name="name"><br>
  Theme:<br>
  <input type="text" name="theme">
    <button type="submit">Add</button>
</form>



</body>
</html>